<div class="row">
    <div align="center" class="col">
      <app-regresar class="mb-2"></app-regresar>
    </div>
    <div align="center" class="col">
      <button type="button" class="btn btn-primary boton btn-xl">
        <a class="btn-floating btn-large waves-effect waves-light red">
          </a>
    Guardar
  </button>
    </div>
  </div>
<br><br>
<div class="container">

        CALIBRE
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Calibre">
        DESCRIPCION
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Descripcion de calibre">
        <br>
    </div>